body {
    background: linear-gradient(#10131f, #0e1036);
    color: white;
    height: 98.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50%;
    height: auto;
}

.container {
    text-align: center;

}

.text {
    font-size: 1.5em;
    color: white;
    margin-bottom: 1em;
}

.start-button {
    background-color: white;
    color: #1e3c72;
    border: none;
    width: 250px;
    border-radius: 25px;
    margin-top: 200px;
    padding: 1em 1.5em;
    font-size: 1.2em;
    opacity: 0.6;
    cursor: pointer;
}

.start-button:hover {
    opacity: 1
}


.btn {
    background-color: white;
    color: #1e3c72;
    border: none;
    width: 250px;
    border-radius: 25px;
    margin-top: 150px;
    padding: 1em 1.5em;
    font-size: 1.2em;
    opacity: 0.6;
    cursor: pointer;
}

.btn:hover {
    opacity: 1
}

.fileLayer {
    margin-bottom: 10px;
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
}

h3 {
    width: 30%;
}

input::file-selector-button {
    background-color: white;
    color: #1e3c72;
    border: none;
    width: 250px;
    border-radius: 25px;
    padding: 1em 1.5em;
    font-size: 1.2em;
    opacity: 0.6;
    cursor: pointer;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Select Layer Files';
    background-color: white;
    color: #1e3c72;
    border: none;
    width: 250px;
    border-radius: 25px;
    margin-top: 200px;
    padding: 1em 1.5em;
    font-size: 1.2em;
    cursor: pointer;
}

.custom-file-input::after {
    content: 'Selected';

}

.custom-file-input {
    opacity: 0.6;
}

.custom-file-input:hover {
    opacity: 1
}